body {
  font-family: 'Satoshi', sans-serif;
}

@keyframes moveGradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
.background {
background: radial-gradient(circle at 20% 50%, 
                rgba(20, 83, 255, 0.8), 
                rgba(255, 255, 255, 1), 
                rgba(255, 255, 255, 0.2)), 
                linear-gradient(to bottom right, 
                rgba(6, 121, 252, 0.6), 
                rgba(255, 255, 255, 1), 
                rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    animation: moveGradient 30s infinite ease-in-out;
}
.sticky-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    z-index: 1000;
  }
  

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

  
 
  .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 500;
    transform: rotate(-90deg); 
    transform-origin: center; 
    white-space: nowrap; 
    text-align: center;
    display: inline-block;
  }
  
  /*CTA*/
  .nav-item.btn a {
    background: #0038FF;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    transform: rotate(-90deg); /* Mantém o botão rotacionado */
    transform-origin: center;
  }
  
  
  .nav-item.btn a:hover {
    background: #003bb5;
  }
  
  .title {
  color: #000;
  font-family: "Clash Display";
  font-size: 130px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
}

.subtitle {
color: #0038FF;
font-family: Satoshi;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.agenda-section {
  background: #0038FF;
  min-height: 50vh;
  position: relative;
}


.agenda-link {
  font-size: 18px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-decoration: none;
}

.display-3 {
  font-size: 64px;
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.medium-body-text {
  color: #000;
font-family: Satoshi;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.regular-body-text {
  color: #000;
font-family: Satoshi;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.highlight {
  color: #0038FF;
font-family: Satoshi;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
  


.text-section {
  background: linear-gradient(to right, #0038FF, #ffffff);
  color: black;
  position: relative;
}

.hover-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.text-section {
  background: #ffffff00; 
  color: black;
}


#floating-button {
  width: 100px;
  height: 100px;
  background: #0038FF;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(43, 43, 43, 0.171);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-out;
  opacity: 0;
}

#floating-button:hover {
  background: #0022AA;
}

.word-section {
  height: 100vh;  /* Ocupa a tela inteira */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Wrapper das palavras */
.word-wrapper {
  position: relative;
  height: 150px; /* Altura para as palavras */
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* Estilização das palavras */
.changing-word {
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

/* Palavras visíveis */
.changing-word.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.changing-word.prev {
  opacity: 0;
  transform: translate(-50%, -60%) scale(0.8);
}


.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
}

/* Footer geral */
.footer {
  background: #0038FF;
  color: white;
}

.footer h4 {
  color: #FFF;
  font-family: "Clash Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 0.2;
}

.footer p {
  font-size: 20px;
}

.footer a {
  color: #FFF;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #cccccc; 
}



.btn-circle {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}


.btn-circle:hover {
  transform: scale(1.1);
}

.btn-circle svg {
  stroke: black;
  width: 24px;
  height: 24px;
}



